			<div  style="color:#ffff;background-color:#003bff;padding-top:10px">
				<form class="col s11" action="http://localhost:4000/event/search" 
				method="post">
						<label for="name" style=";margin-right:20px;width:120px;text-align:center"><b>Search:</b></label>
						<input type="text" name="search" value="" style="margin-right:20px;width:80%">
						<input type="submit" name="submit" value="Go!" class="btn btn-primary btn-ml" style="margin-bottom:10px;">	
				</form>
			</div>